@namespace CalHealth.Blazor.Client.Pages.Home

<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Our Service</h2>
                <hr class="botm-line">
                <p>Our world-renowned medical and surgical consultants have a broad range of experience and expertise, enabling them to treat conditions from the straightforward to the incredibly complex.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>24 Hour Support</h4>
                        <p>
                            Our hospitals have Urgent Care Centres available across London so you can access immediate care.
                            We provide urgent care services for adults over 18 and an Urgent Care Centre for children under 18 at The Portland Hospital..
                        </p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Emergency Services</h4>
                        <p>
                            Our hospitals have Urgent Care Centres available across London so you can access immediate care.
                            We provide urgent care services for adults over 18 and an Urgent Care Centre for children under 18 at The Portland Hospital..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Medical Counseling</h4>
                        <p>We are investing in, and helping to develop, some of the world’s most innovative treatments – making the previously untreatable, treatable..</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Premium Healthcare</h4>
                        <p>We are investing in, and helping to develop, some of the world’s most innovative treatments – making the previously untreatable, treatable..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>