@namespace CalHealth.Blazor.Client.Shared

<nav class="navbar navbar-expand fixed-top" id="navbar">
    <div class="container">
        <div class="row d-flex justify-content-between w-100">

            <div class="col-6 d-flex flex-fill">

                <NavLink class="navbar-brand" href="/">
                    <p class="navbar-brand-heading"><i class="fas fa-heartbeat fa-sm"></i> Californian Health</p>
                </NavLink>
            </div>

            <div class="col-6 d-flex flex-fill">

                <div class="collapse navbar-collapse d-flex justify-content-end">
                    <ul class="navbar-nav d-flex flex-fill justify-content-around">
                        <li class="nav-item active">
                            <NavLink href="/">Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/Consultants">Our Team</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/Contact">Contact</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/Booking">Book Appointment</NavLink>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>